body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    padding-top: 50px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.card {
    position: relative;
    width: 90vw;  /* Responsive width */
    height: 80vh; /* Responsive height */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
}

.card-front, .card-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: white;
}

.card-front {
    background-image: url('https://i.imgur.com/rPg1zfZ.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    font-size: 4vw; /* Responsive font size */
    padding: 20px;
}

.card-inside {
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-inside h2 {
    font-size: 3vw; /* Responsive font size */
}

.card-inside p {
    font-size: 2.5vw; /* Responsive font size */
    margin: 0;
    white-space: pre-line;
}

.card-inside small {
    margin-top: 20px;
    font-size: 2vw; /* Responsive font size */
    color: #888;
}
